@import "_bootstrap";




body{

}

[class*="col-"]{
	background-color: $brand-primary;
	border: 3px solid $brand-primary - #222222;
	height: 50px;
	line-height: 45px;
	margin-bottom: 15px;
	color: white;
	text-align: center;
}